<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <th:block th:text="${m.label}"></th:block>のスケジュール
    </title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <h1>
        <th:block th:text="${m.label}"></th:block>のスケジュール
    </h1>
    <div>
        <a th:href="${prev.link}">&lt;&lt; 前の月</a>
        |
        <a th:href="${next.link}">次の月 &gt;&gt;</a>
    </div>
    <table class="calendar">
        <thead>
            <tr>
                <th class="sunday">日</th>
                <th>月</th>
                <th>火</th>
                <th>水</th>
                <th>木</th>
                <th>金</th>
                <th class="saturday">土</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="row : ${calendar.weeks}">
                <td th:each="cell: ${row.days}" th:class="${cell.cssClass}">
                    <span th:text="${cell.dayOfMonth}"></span>
                    <ul class="schedule-list">
                        <li th:each="schedule: ${cell.schedules}">
                            <th:block th:text="${schedule.title}"></th:block>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <div th:if="${needsDemoDataGeneration}">
        <a href="/initial/demo">デモデータ生成</a>
    </div>
</body>
</body>
</html>