table.calendar {
    border-collapse: collapse;
}
table.calendar>tbody>tr {
    height: 5em;
}
table.calendar th, table.calendar td {
    border: 1px solid gray;
    padding: 3px 10px;
    box-sizing: border-box;
    width: 120px;
}
table.calendar td {
    vertical-align: top;
    line-height: 1.1;
}
table.calendar th {
    background-color: #e0e0e0;
    color: gray;
    font-weight: normal;
}
table.calendar td.out-month {
    opacity: 0.3;
    background-color: #f0f0f0;
}
table.calendar th.sunday {
    background-color: #d09090;
    color: #c06060;
}
table.calendar td.sunday {
    background-color: #f0e0e0;
    color: #c06060;
}
table.calendar th.saturday {
    background-color: #7090d0;
    color: #4060c0;
}
table.calendar td.saturday {
    background-color: #d0e0f0;
    color: #4060c0;
}

ul.schedule-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 80%;
}
